<!-- start custom head snippets -->

<!-- favicons -->
<link rel="icon" type="image/png" href="/assets/images/favicon.png">
<link rel="apple-touch-icon" href="/assets/images/favicon.png">

<!-- FontAwesome 6 (Bluesky, X/Twitter, GitHub, etc.) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
<!-- Academicons (Google Scholar, ORCID, etc.) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1.9.4/css/academicons.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">

<!-- end custom head snippets -->
