---
layout: archive
---

<p> I'm a Full Professor in the Economics Department at George Mason University. </p>

<p> My research interests include: </p>

<ul>
  <li>The historical origins of modern liberal institutions. You can purchase my book (written with Mark Koyama) here: <a href="https://www.amazon.com/gp/product/1108441165/ref=dbs_a_def_rwt_bibl_vppi_i0">Persecution & Toleration: The Long Road to Religious Freedom</a>. Here is a link to the <a href="https://persecutionandtoleration.com/">book's webpage</a>. </li>

  <li>The relationship between state capacity and economic growth.</li>

  <li>The impact of environmental shocks on institutional change and economic outcomes.</li>

  <li>Applied Econometrics with a particular emphasis on spatial data.</li>

</ul>


<h2> What’s New? </h2>

<p> <strong>5-11-2022</strong>: The Board of Vistors has approved my promotion to Full Professor!</p>

<p> <strong>5-11-2022</strong>: I'm happy to be attending the <a href="https://sites.google.com/view/dcpec/events/washington-peco/2022-washington-peco">Washington Political Economy Conference at Georgetown on 5/12 and 5/13. The program looks fantastic.</a></p>

<p> <strong>5-11-2022</strong>: I'm looking forward to traveling Northwestern from 5/19 to 5/21 to participate in a book conference on <a href="http://walkerhanlon.com">Walker Hanlon's</a> new book "The Rise and Fall of Laissez Faire". I'm really enjoying reading it.</p>

<p> <strong>4-27-2022</strong>: Excited to present our new paper on <a href="https://www.dropbox.com/s/3segpv1raw6qwbz/BDPress_Texas_Tech.pdf?dl=0">The Impact of the Black Death on the Adoption of the Printing Press</a> at Texas Tech for the <a href="https://www.depts.ttu.edu/freemarketinstitute/">Free Market Institute</a> on Friday.</p>

<p> <strong>4-27-2022</strong>: Had a really great time presenting our research on <a href="https://www.dropbox.com/s/3segpv1raw6qwbz/BDPress_Texas_Tech.pdf?dl=0">The Impact of the Black Death on the Adoption of the Printing Press</a> for the <a href="https://cmepr.gmu.edu">Center for Micro-Economic Policy Research</a> on Tuesday.</p>

<p> <strong>4-27-2022</strong>: I really enjoyed giving a virtual talk (and meeting lots of interesting faculty) at the University of Connecticut on 4-12. I presented our research on <a href="https://www.dropbox.com/s/3segpv1raw6qwbz/BDPress_Texas_Tech.pdf?dl=0">The Impact of the Black Death on the Adoption of the Printing Press</a>.</p>

<p> <strong>4-8-2022</strong>: I had a great time chatting with Jeffrey Lin for his podcast <a href="https://www.listennotes.com/podcasts/densely-speaking-jeff-lin-greg-shill-P3pUrqveQZg/">Densely Speaking</a>. We talked about my recent paper with Remi Jedwab and Mark Koyama on <a href="https://www.dropbox.com/s/kfzngu7dxvqtpbj/2021%20RSUE%20Medieval%20Cities.pdf?dl=0">Medieval Cities Through the Lend of Urban Economics</a> that we published in Regional Science and Urban Economics. The podcast is <a href="https://www.listennotes.com/podcasts/densely-speaking/s2e9-special-series-on-_427CX6VNIO/">here</a>. My bit starts at 20:44.</p>

<p> <strong>9-20-2021</strong>: I recorded a podcast with <a href="https://mises.org/profile/lipton-matthews?page=3">Lipton Mathews of the the Mises Institute.</a> It was a fun chat. Among other things, we covered <a href="https://www.dropbox.com/s/7a7fvrgh3nn2lqc/2014%20Witches_JLE.pdf?dl=0">withcraft trials and state capacity</a>, <a href="https://www.dropbox.com/s/so7lcevh69ctq7w/CEPR-DP14828.pdf?dl=0">medieval cities</a>, and the <a href="https://www.dropbox.com/s/qsyzci2c27lxc2f/2016%20Public%20Policies%20Religiosity%20EHR.pdf?dl=0">secularization of schooling in Third Republic France</a>. <a href="https://www.youtube.com/watch?v=jE_yUxWGbFQ">Here's the video of our conversation.</a></p>

<p> <strong>9-1-2021</strong>: I'm excited to be organizing the Public Choice Seminar here at GMU this year. <a href="https://publicchoice.gmu.edu/center-programs/fall-2021">The schedule for the Fall</a> is settled and we have some great speakers coming out (even some in person!).</p>

<p> <strong>9-1-2021</strong>: My classes are all set to go this semester. I'm teaching Grad U.S. Economic History <a href="https://www.dropbox.com/s/m2d5ejcafvj1gue/AEH%20Syllabus%20Fall21%20Version%202.pdf?dl=0">(syllabus)</a> and Grad Spatial Techniques in Empirical Economics <a href="https://www.dropbox.com/s/zzp6zw2e9pxpgqr/Spatial%20Syllabus%20Fall21.pdf?dl=0">(syllabus)</a>.</p>

<p> <strong>8-20-2021</strong>: <a href="https://www.marketplace.org/2021/07/08/pandemics-plagues-and-innovation-in-history-the-striking-parallels-between-covid-19-and-the-black-death/">I was mentioned in an article</a> on innovation, COVID, and the Black Death on NPR's Marketplace. </p>

<p> <strong>3-16-2021</strong>: I'll be presenting material from our <a href="https://www.dropbox.com/s/8x6mx4bd28fq4lw/JEL_Black_Death_FINAL_October12.pdf?dl=0">survey of the Black Death</a> in the Journal of Economic Literature in the <a href="https://cepr.org/event/economic-impact-black-death">Macrohistory Seminar</a> on March 17th. <a href="https://www.youtube.com/watch?v=eUbtmXwB9Ds">Here is a link</a> to the video of the event.</p>

<p> <strong>3-5-2021</strong>: Mark and I have published a blog post on the <a href="https://broadstreet.blog">Broadstreet Blog</a> titled <a href="https://broadstreet.blog/2021/03/05/paintings-persecutions-and-political-development/">"Paintings, Persecutions, and Political Development"</a>. It mixes up some art history with themes from our book, <a href="https://persecutionandtoleration.com">Persecution and Toleration: The Long Road to Religious Freedom</a>.</p>

<p> <strong>1-2-2021</strong>: I'll be giving a talk at the <a href="https://www.colorado.edu/center/benson/">Bruce D. Benson Center for the Study of Western Civilization</a> located at the <a href="https://www.colorado.edu">University of Colorado</a> on The Church, the State, and the Origins of Religious Freedom on March 11. The talk will be based on my book (coauthored with Mark Koyama) <a href="https://www.amazon.com/gp/product/1108441165/ref=dbs_a_def_rwt_bibl_vppi_i0">Persecution and Toleration: The Long Road to Religious Freedom</a>. You can learn more about the event and register for the livestream <a href="https://www.colorado.edu/center/benson/noel-johnson">here</a>.</p>

<p> <strong>12-20-2020</strong>: I'll be visiting at the <a href="https://www.parisschoolofeconomics.eu/en/">Paris School of Economics</a> later this Spring (assuming travel becomes possible again!).</p>

<p> <strong>12-18-2020</strong>: I'm excited to be on the Editorial Board of the <a href="https://www.worldscientific.com/worldscinet/jemar">Journal of Economics, Management, and Religion</a>. Send in your papers!</p>

<p> <strong>12-15-2020</strong>: Sriya Iyer has written a very generous and helpful review of my book (with Mark Koyama) <a href="https://www.amazon.com/Persecution-Toleration-Religious-Cambridge-Economics/dp/1108441165">Perscution and Toleration: The Long Road to Religious Freedom</a> for the Journal of Economic Literature. The early-view is <a href="https://www.aeaweb.org/articles?id=10.1257/jel.20201594&&from=f">here</a>.</p>

<p> <strong>12-15-2020</strong>: Metin Cosgel wrote a great review of my book (with Mark Koyama) <a href="https://www.amazon.com/Persecution-Toleration-Religious-Cambridge-Economics/dp/1108441165">Perscution and Toleration: The Long Road to Religious Freedom</a> for the Review of Austrian Economics. You can read it <a href="https://link.springer.com/article/10.1007/s11138-020-00533-6">here</a>.</p></p>

<p> <strong>12-1-2020</strong>: My research with Mark Koyama on religious violence and the origins of religious freedom was mentioned recently on the <a href="https://www.mercatus.org/tags/ideas-india">Ideas of India podcast</a> during an episode discussing <a href="https://www.mercatus.org/podcasts/10012020/ideas-india-economics-religion">The Economics of Religion</a>.</p>

<p> <strong>11-31-2020</strong>: Our paper on <a href="https://www.dropbox.com/s/hfo62xyn55b4bu3/Draft34_JLE_Rev.pdf?dl=0">The Effects of Land Redistribution during the French Revolution</a> has been accepted at the <a href="https://www.journals.uchicago.edu/toc/jle/current">Journal of Law and Economics</a>.</p>  

<p> <strong>12-15-2020</strong>: Enjoyed presenting our research on the effects of the Black Death on the urban network for the <a href="https://www.colorado.edu/economics/">Economics Department</a> at the University of Colorado. <a href="https://www.dropbox.com/s/riwnl83k9k90vxx/BBB_May2020_Web.pdf?dl=0">The paper is here.</a> <a href="https://www.dropbox.com/s/5vcq7868ejexoxf/BD_Colorado.pdf?dl=0">The presentation is here.</a></p>

<p> <strong>10-1-2020</strong>: Our survey on ``The Effects of Historical Pandemics: The Black Death'' with Remi Jedwab and Mark Koyama has been accepted at <a href="https://www.aeaweb.org/articles?id=10.1257/jel.20201639&&from=f">The Journal of Economic Literature</a>. You can read it <a href="https://www.dropbox.com/s/1v3xydpw7rz1gj8/JedwabJohnsonKoyama%20Black%20Death.pdf?dl=0">here</a>.</p>

<p> <strong>7-15-2020</strong>: Getting close to finishing up a survey on ``The Effects of Historical Pandemics: The Black Death'' with Remi Jedwab and Mark Koyama. It will be published as part of a four-paper symposium we've organized on The Effects of Historical Pandemics for <a href="https://www.aeaweb.org/journals/jel">The Journal of Economic Literature</a>.</p>

<p> <strong>6-18-2020</strong>: Excited to be part of this year's <a href="https://theihs.org/seminars-conferences/summer-seminars/">IHS Summer Seminar on the classical liberal tradition</a>. I’ll be speaking on June 20 at 4:45 EST on "Douglass North and the Hard Problem of Institutional Change". The seminar is free and all are welcomed.</p>

<p> <strong>6-18-2020</strong>: I'll be presenting our paper on <a href="https://www.dropbox.com/s/hfo62xyn55b4bu3/Draft34_JLE_Rev.pdf?dl=0">"The Effects of Land Redistribution: Evidence from the French Revolution"</a> at <a href="https://www.sioe.org/">the SIOE 2020 online conference</a> on June 19.</p>

<p> <strong>6-1-2020</strong>: We've written a <a href="https://www.dropbox.com/s/so7lcevh69ctq7w/CEPR-DP14828.pdf?dl=0">new paper</a> surveying the role of cities during the medieval period. It should be coming out at some point in <a href="https://www.journals.elsevier.com/regional-science-and-urban-economics">Regional Science and Urban Economics.</a></p>

<p> <strong>6-1-2020</strong>: We published a <a href="https://voxeu.org/article/pandemics-and-persecution-minorities">short piece</a> on Voxeu summarizing our research on the Black Death and Jewish persecution.</p>

<p> <strong>4-2-2020</strong>: We've revised our paper on the effects of the Black Death on the urban network. <a href="https://www.dropbox.com/s/riwnl83k9k90vxx/BBB_May2020_Web.pdf?dl=0">The paper is here.</a></p>

<p> <strong>12-18-2019</strong>: I'm really looking forward to giving talks at <a href="https://liberalarts.tulane.edu/departments/economics/news/seminars">Tulane on February 7</a>  and <a href="https://cla.auburn.edu/economics/">Auburn on February 21</a> this upcoming semester!</p>

<p> <strong>12-18-2019</strong>: I'll be giving a talk on "Using GIS to Uncover the History of Persecution and Toleration in Europe?" for the <a href="https://dsc.gmu.edu/">Digital Scholarship Center</a> at GMU on March 24. <strong>THIS EVENT HAS BEEN POSTPONED TILL FALL</strong> </p>

<p> <strong>12-18-2019</strong>: I really enjoyed presenting material from Persecution and Toleration to the <a href="http://cred.u-paris2.fr/">CRED group</a> at Paris 2. <a href="https://www.dropbox.com/s/wruzezgko93cbu3/Paris%20CRED%20Talk.pdf?dl=0">My slides are here.</a></p>

<p> <strong>9-10-2019</strong>: I'll be visiting at the <a href="https://www.parisschoolofeconomics.eu/en/">Paris School of Economics</a> in December. Lot's of really interesting people at PSE who I look forward to hanging out with. And, of course, Paris is beautiful in the winter time.

<p> <strong>9-10-2019</strong>: I'll be at the <a href="https://eh.net/eha/economic-history-association-2019-annual-meeting-2/">Economic History Association Meetings</a>  in Atlanta this weekend. Looking forward to seeing friends and hearing about research from new scholars.

<p> <strong>9-3-2019</strong>: I'm looking forward to presenting my research on   <a href="https://www.dropbox.com/s/hfo62xyn55b4bu3/Draft34_JLE_Rev.pdf?dl=0">The Effects of Land Redistribution during the French Revolution</a> at Bocconi University on October 25 for the Workshop on Politics, Social Mobility, and Inequality.

<p> <strong>8-12-2019</strong>: The next iteration of the <a href="https://noeldjohnson.github.io/workshop/">Washington Area Economic History and Development Workshop</a> is coming up on August 23. It looks like a great program.

<p> <strong>8-12-2019</strong>: I'm looking forward to attending and speaking at the upcoming <a href="https://nofuturepast.wordpress.com/2019/08/12/call-for-papers-understanding-state-capacity/">Conference on Understanding State Capacity</a> at the University of Manchester over Thanksgiving (sorry family!). Nuno Palma and Xiaobing Wang are doing a great job with the organization.</p>

<p> <strong>7-3-2019</strong>: Newsweek has just published <a href="https://www.newsweek.com/its-been-327-years-since-salem-witch-trials-fear-ruling-america-again-opinion-1445807">my op-ed</a> on what historical witchcraft trials can teach us about rule of law today.</p>

<p> <strong>7-3-2019</strong>: Vox has published our write-up of our <a href="https://voxeu.org/article/how-black-death-changed-europes-cities">research on the effects of the Black Death on long-run city growth.</a> </p>

<p> <strong>7-3-2019</strong>: Cameron Harwick has written a great <a href="https://www.liberalcurrents.com/myth-and-modernity-a-review-of-persecution-and-toleration/">review of our book,</a> Persecution and Toleration: The Long Road to Religious Freedom on the <a href="https://www.liberalcurrents.com/">Liberal Currents webpage.</a> </p>

<p> <strong>7-3-2019</strong>: I'm looking forward to attending the <a href="http://papers.nber.org/sched/SI19URB?show_participants=1">NBER Summer Institute Urban Economics Workshop.</a> We'll be presenting out work on the <a href="https://www.dropbox.com/s/ja0zbsiu0f9eyt4/JJK_Draft_02092019.pdf?dl=0">Back Death and City Growth.</a> </p>

<p> <strong>3-28-2019</strong>: Had a great time presenting material from <a href="https://economics.gmu.edu/people/mkoyama2/">Mark Koyama’s</a> and my book <a href="https://www.amazon.com/Persecution-Toleration-Religious-Cambridge-Economics/dp/1108441165">Persecution & Toleration: The Long Road to Religious Freedom</a> in the <a href="https://www.peter-boettke.com/ppe-workshop">PPE Workshop</a> here at GMU. Lot’s of great comments from the audience and just a really well organized event. Here’s a <a href="https://www.dropbox.com/s/eguyx1z3x9ykd0i/PPE.pdf?dl=0">link to the slides for the presentation.</a> </p>

<p> <strong>3-16-2019</strong>:  Looking forward to discussing <a href="https://sites.duke.edu/timurkuran/">Timur Kuran’s</a> new MS on under-development in the Middle East titled Freedoms Delayed in a book conference sponsored by the Mercatus Center this weekend.</p>

<p> <strong>3-5-2019</strong>:  Mark and I just finished a Cato Unbound forum on <a href="https://www.cato-unbound.org/issues/february-2019/religious-freedom-modern-state">Religious Freedom and the Modern State.</a> It was lots of fun. Thanks to James Robinson, Dalibor Rohac, and Hans Eicholz for participating.</p>

<p> <strong>3-5-2019</strong>:  My book with Mark Koyama, Persecution & Toleration: The Long Road to Religious Freedom, is now available for order on <a href="https://www.amazon.com/Persecution-Toleration-Religious-Cambridge-Economics/dp/1108441165">Amazon</a> in the US (it’s already shipping in the UK). Here is an <a href="https://aeon.co/essays/the-modern-state-not-ideas-brought-about-religious-freedom">essay</a> describing the main thesis of the book. Here are some <a href="https://www.dropbox.com/s/br6433n8pb3imly/Paris%20Lectures.pdf?dl=0">presentation slides.</a></p>

<p> <strong>3-5-2019</strong>:  I had a great time doing an <a href="https://medium.com/conversations-with-tyler/tyler-cowen-noel-johnson-mark-koyama-history-persecution-toleration-c291166ab871">interview with my colleague Tyler Cowen</a> on his podcast <a href="https://medium.com/conversations-with-tyler">Conversations with Tyler.</a></p>

<p> <strong>3-4-2019</strong>:  Looking forward to attending the conference on <a href="https://events.brown.edu/economics/view/event/date/20190511/event_id/84675">Deep-Rooted Factors in Economic Development</a> in May at Brown University. It’s a great group and always a rewarding discussion.</p>

<p> <strong>2-9-2019</strong>:  I’ll be presenting my work on <a href="https://www.dropbox.com/s/z2dib2ez2z3ahcf/Capacity%20to%20RoL%204-24.pdf?dl=0">“Taxes, National Identity, and Nation Building: Evidence from France”</a> at NYU-Abu Dhabi in Workshop on Historical Political Economy, March 15-17.</p>

<p> <strong>1-21-2019</strong>:  I’ll be <a href="http://www.dondena.unibocconi.it/wps/wcm/connect/Cdr/Centro_Dondena/Home/Dondena+Seminar+Series/Current+Series/">presenting our work</a> on the effects of the Black Death on the urban network at Bocconi University in Milan on February 4. <a href="https://www.dropbox.com/s/adv2ifay20pnx2l/JJK_Working_Paper_2-2019.pdf?dl=0">The paper is here.</a></p>

<p> <strong>1-21-2019</strong>:  Our paper on the <a href="https://www.dropbox.com/s/jhquij62js66p55/2019_NegativeShocksAndMassPersecuti.pdf?dl=0">Black Death and Jewish Persecution</a> has been accepted at the <a href="https://link.springer.com/journal/10887">Journal of Economic Growth.</a></p>
